<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659663988558-hmou70ld24v8k3og329uvl05opnu2m0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659663988558-hmou70ld24v8k3og329uvl05opnu2m0n</string>
	<key>API_KEY</key>
	<string>AIzaSyD8oqiFrjII-o_HL5FYGExK-Ux0y1bWH7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>659663988558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brokoly.odi</string>
	<key>PROJECT_ID</key>
	<string>odi-android-crash</string>
	<key>STORAGE_BUCKET</key>
	<string>odi-android-crash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659663988558:ios:d06ee2a3fa6a5e79d3e01f</string>
	<key>DATABASE_URL</key>
	<string>https://odi-android-crash.firebaseio.com</string>
</dict>
</plist>